In [3]:
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns

## Import dataset

In [11]:
df = pd.read_csv('2021VAERSDATA.csv', encoding='ISO-8859-1')
orig_df = df.copy()

C:\Users\danie\AppData\Local\Temp\ipykernel_81832\3347185278.py:1: DtypeWarning: Columns (7,12,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('2021VAERSDATA.csv', encoding='ISO-8859-1')

In [12]:
df.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916600,01/01/2021,TX,33.0,33.0,NaN,F,NaN,Right side of epiglottis swelled up and hinder...,NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,Y,NaN,Pcn and bee venom
1,916601,01/01/2021,CA,73.0,73.0,NaN,F,NaN,Approximately 30 min post vaccination administ...,NaN,...,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,NaN,NaN,2,01/01/2021,NaN,Y,NaN,"""Dairy"""
2,916602,01/01/2021,WA,23.0,23.0,NaN,F,NaN,"About 15 minutes after receiving the vaccine, ...",NaN,...,None,None,NaN,NaN,2,01/01/2021,NaN,NaN,Y,Shellfish
3,916603,01/01/2021,WA,58.0,58.0,NaN,F,NaN,"extreme fatigue, dizziness,. could not lift my...",NaN,...,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","got measles from measel shot, mums from mumps ...",NaN,2,01/01/2021,NaN,NaN,NaN,"Diclofenac, novacaine, lidocaine, pickles, tom..."
4,916604,01/01/2021,TX,47.0,47.0,NaN,F,NaN,"Injection site swelling, redness, warm to the ...",NaN,...,Na,NaN,NaN,NaN,2,01/01/2021,NaN,NaN,NaN,Na

In [13]:
df.shape

(34121, 35)

## Clean data

In [14]:
df.dtypes

VAERS_ID          int64
RECVDATE         object
STATE            object
AGE_YRS         float64
CAGE_YR         float64
CAGE_MO         float64
SEX              object
RPT_DATE         object
SYMPTOM_TEXT     object
DIED             object
DATEDIED         object
L_THREAT         object
ER_VISIT         object
HOSPITAL         object
HOSPDAYS        float64
X_STAY           object
DISABLE          object
RECOVD           object
VAX_DATE         object
ONSET_DATE       object
NUMDAYS         float64
LAB_DATA         object
V_ADMINBY        object
V_FUNDBY         object
OTHER_MEDS       object
CUR_ILL          object
HISTORY          object
PRIOR_VAX        object
SPLTTYPE         object
FORM_VERS         int64
TODAYS_DATE      object
BIRTH_DEFECT     object
OFC_VISIT        object
ER_ED_VISIT      object
ALLERGIES        object
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34121 entries, 0 to 34120
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VAERS_ID      34121 non-null  int64
 1   RECVDATE      34121 non-null  object
 2   STATE         28550 non-null  object
 3   AGE_YRS       30933 non-null  float64
 4   CAGE_YR       26791 non-null  float64
 5   CAGE_MO       83 non-null     float64
 6   SEX           34121 non-null  object
 7   RPT_DATE      63 non-null     object
 8   SYMPTOM_TEXT  34119 non-null  object
 9   DIED          1957 non-null   object
 10  DATEDIED      1798 non-null   object
 11  L_THREAT      1259 non-null   object
 12  ER_VISIT      11 non-null     object
 13  HOSPITAL      4387 non-null   object
 14  HOSPDAYS      2857 non-null   float64
 15  X_STAY        52 non-null     object
 16  DISABLE       870 non-null    object
 17  RECOVD        31264 non-null  object
 18  VAX_DATE      32622 non-null  object
 19  ONSET_DATE    32258 non-null  object
 20  NUMDAYS       31194 non-null  float64
 21  LAB_DATA      15080 non-null  object
 22  V_ADMINBY     34121 non-null  object
 23  V_FUNDBY      64 non-null     object
 24  OTHER_MEDS    20239 non-null  object
 25  CUR_ILL       16069 non-null  object
 26  HISTORY       22375 non-null  object
 27  PRIOR_VAX     1434 non-null   object
 28  SPLTTYPE      8223 non-null   object
 29  FORM_VERS     34121 non-null  int64
 30  TODAYS_DATE   33922 non-null  object
 31  BIRTH_DEFECT  51 non-null     object
 32  OFC_VISIT     5404 non-null   object
 33  ER_ED_VISIT   5529 non-null   object
 34  ALLERGIES     18587 non-null  object
dtypes: float64(5), int64(2), object(28)
memory usage: 9.1+ MB

Before I start to clean, I will drop unnecessary columns in my dataset because it could generate errors and waste time. After dropping, I will nominate the dataset as df1.

In [19]:
df.columns

Index(['VAERS_ID', 'RECVDATE', 'STATE', 'AGE_YRS', 'CAGE_YR', 'CAGE_MO', 'SEX',
       'RPT_DATE', 'SYMPTOM_TEXT', 'DIED', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'NUMDAYS', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT',
       'ALLERGIES'],
      dtype='object')

In [20]:
df1 = df.drop(columns=['VAERS_ID', 'RECVDATE', 'CAGE_YR', 'CAGE_MO', 'RPT_DATE', 'SYMPTOM_TEXT', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT'])
df1.head()

,STATE,AGE_YRS,SEX,DIED,DISABLE,NUMDAYS,CUR_ILL,HISTORY,ALLERGIES
0,TX,33.0,F,NaN,NaN,2.0,None,None,Pcn and bee venom
1,CA,73.0,F,NaN,NaN,0.0,Patient residing at nursing facility. See pati...,Patient residing at nursing facility. See pati...,"""Dairy"""
2,WA,23.0,F,NaN,NaN,0.0,None,None,Shellfish
3,WA,58.0,F,NaN,NaN,0.0,kidney infection,"diverticulitis, mitral valve prolapse, osteoar...","Diclofenac, novacaine, lidocaine, pickles, tom..."
4,TX,47.0,F,NaN,NaN,7.0,Na,NaN,Na

In [22]:
df1.shape

(34121, 9)

##### Now I will filter the 'df1' to a unique State of US to facilitate ??????

In [24]:
df1.dtypes

STATE         object
AGE_YRS      float64
SEX           object
DIED          object
DISABLE       object
NUMDAYS      float64
CUR_ILL       object
HISTORY       object
ALLERGIES     object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34121 entries, 0 to 34120
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATE      28550 non-null  object
 1   AGE_YRS    30933 non-null  float64
 2   SEX        34121 non-null  object
 3   DIED       1957 non-null   object
 4   DISABLE    870 non-null    object
 5   NUMDAYS    31194 non-null  float64
 6   CUR_ILL    16069 non-null  object
 7   HISTORY    22375 non-null  object
 8   ALLERGIES  18587 non-null  object
dtypes: float64(2), object(7)
memory usage: 2.3+ MB

In [26]:
df1.isnull().sum()

STATE         5571
AGE_YRS       3188
SEX              0
DIED         32164
DISABLE      33251
NUMDAYS       2927
CUR_ILL      18052
HISTORY      11746
ALLERGIES    15534
dtype: int64