To start the EDA, I will import all the libraries I will use, such as Pandas, for functions and methods to manipulate the data in this library and Numpy to solve mathematical problems.

In [1]:
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns

## Import dataset

I used the 'pd.read_csv' method to access the file that I want to work with.
The warning indicates that Pandas has encountered columns in the DataFrame where the data types are inconsistent throughout, meaning that both strings and numbers are within the same column. I will handle it during the cleaning process.

In [2]:
df = pd.read_csv('2021VAERSDATA_.csv', encoding='ISO-8859-1')
orig_df = df.copy()

C:\Users\danie\AppData\Local\Temp\ipykernel_34340\1116616066.py:1: DtypeWarning: Columns (2,3,5,7,12,23,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('2021VAERSDATA_.csv', encoding='ISO-8859-1')

In [3]:
df.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,916767,1/1/221,AK,54,54.0,NaN,F,NaN,Hypotension ticed 24 hours post injectionU Ef...,NaN,...,NaN,HTN,NaN,NaN,2,1/1/221,NaN,NaN,NaN,"ADVAIR, ASMAX, FORADIL, TRAMADOL"
1,918694,1/1/221,AK,23,25.0,NaN,F,NaN,"12/24/22 chills body aches headache, fever of...",NaN,...,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,Y,Altace
2,917613,1/2/221,AK,31,31.0,NaN,F,NaN,"Fatigue, chills, pain at injection site radiat...",NaN,...,NaN,"Asthma, adhd",Tetanus,NaN,2,1/2/221,NaN,NaN,NaN,Aspergillus
3,918693,1/2/221,AK,6,6.0,NaN,F,NaN,"Starting at 1 am I ticed chills, body aches, v...",NaN,...,NaN,NaN,NaN,NaN,2,1/2/221,NaN,NaN,Y,Aspirin
4,91887,1/4/221,AK,49,49.0,NaN,M,NaN,Patient got his Covid vaccine this past Thursd...,NaN,...,NaN,"Obesity, pre-diabetes",NaN,NaN,2,1/4/221,NaN,NaN,Y,Cephalosporin

I used the method df.shape to have an idea of the dataset size. And I found that this dataset has 34121 rows and 35 columns.

In [4]:
df.shape

(34121, 35)

With the describe() method, I can see that in this dataset, there is only a skewed distribution in two columns ('HOSPDAYS' and 'NUMDAYS') by comparing the values of mean and median (50% value). The other columns are normally distributed. Thus, I will start the cleaning process, but first, I will select the principal columns that can be useful for the project.

In [5]:
df.describe()

           VAERS_ID       CAGE_YR     HOSPDAYS       NUMDAYS     FORM_VERS
count  3.412100e+04  26716.000000  2857.000000  17738.000000  34121.000000
mean   4.236210e+05     46.290800     3.554428     29.728267      1.998124
std    4.146203e+05     22.466735     3.671364    768.794004      0.043269
min    1.000000e+00      1.000000     1.000000      1.000000      1.000000
25%    9.265500e+04     32.000000     1.000000      1.000000      2.000000
50%    1.517760e+05     46.000000     2.000000      2.000000      2.000000
75%    9.253510e+05     62.000000     4.000000      7.000000      2.000000
max    1.115348e+06     99.000000    39.000000  36896.000000      2.000000

## Clean data

To start the cleaning process, I will use the method df.info() because it provides a quick overview of the structure and some basic information about the DataFrame, like data type and if there are missing values. In this case, the dataset presents all the values (no missing values).

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34121 entries, 0 to 34120
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VAERS_ID      34121 non-null  int64
 1   RECVDATE      34121 non-null  object
 2   STATE         28550 non-null  object
 3   AGE_YRS       30933 non-null  object
 4   CAGE_YR       26716 non-null  float64
 5   CAGE_MO       18 non-null     object
 6   SEX           34121 non-null  object
 7   RPT_DATE      63 non-null     object
 8   SYMPTOM_TEXT  34107 non-null  object
 9   DIED          1957 non-null   object
 10  DATEDIED      1798 non-null   object
 11  L_THREAT      1259 non-null   object
 12  ER_VISIT      11 non-null     object
 13  HOSPITAL      4387 non-null   object
 14  HOSPDAYS      2857 non-null   float64
 15  X_STAY        52 non-null     object
 16  DISABLE       870 non-null    object
 17  RECOVD        31264 non-null  object
 18  VAX_DATE      32622 non-null  object
 19  ONSET_DATE    32258 non-null  object
 20  NUMDAYS       17738 non-null  float64
 21  LAB_DATA      9972 non-null   object
 22  V_ADMINBY     34121 non-null  object
 23  V_FUNDBY      64 non-null     object
 24  OTHER_MEDS    17441 non-null  object
 25  CUR_ILL       5923 non-null   object
 26  HISTORY       17283 non-null  object
 27  PRIOR_VAX     1434 non-null   object
 28  SPLTTYPE      8220 non-null   object
 29  FORM_VERS     34121 non-null  int64
 30  TODAYS_DATE   33922 non-null  object
 31  BIRTH_DEFECT  51 non-null     object
 32  OFC_VISIT     5404 non-null   object
 33  ER_ED_VISIT   5529 non-null   object
 34  ALLERGIES     13076 non-null  object
dtypes: float64(3), int64(2), object(30)
memory usage: 9.1+ MB

The method below returns True where there is a NaN (Not a Number) value and False otherwise to indicate the presence of missing values. 

The data use guide (Vaccine Adverse Event Reporting System - VAERS) contains essential information about this dataset, like how it was created and filled, for example, in the 'DIED' column, where they used the letter "Y" to indicate that the patient dies and otherwise the field will be blank. Thus, that is the reason why there is NaN in this dataset. In this case, I will transform the NaN in zeros to represent the absence of occurrence.

Example of data use guide:

DIED: If the vaccine recipient died a "Y" is used; otherwise the field will be blank.

In [7]:
df.isnull().sum()

VAERS_ID            0
RECVDATE            0
STATE            5571
AGE_YRS          3188
CAGE_YR          7405
CAGE_MO         34103
SEX                 0
RPT_DATE        34058
SYMPTOM_TEXT       14
DIED            32164
DATEDIED        32323
L_THREAT        32862
ER_VISIT        34110
HOSPITAL        29734
HOSPDAYS        31264
X_STAY          34069
DISABLE         33251
RECOVD           2857
VAX_DATE         1499
ONSET_DATE       1863
NUMDAYS         16383
LAB_DATA        24149
V_ADMINBY           0
V_FUNDBY        34057
OTHER_MEDS      16680
CUR_ILL         28198
HISTORY         16838
PRIOR_VAX       32687
SPLTTYPE        25901
FORM_VERS           0
TODAYS_DATE       199
BIRTH_DEFECT    34070
OFC_VISIT       28717
ER_ED_VISIT     28592
ALLERGIES       21045
dtype: int64

As this dataset is vast, I will use the .value_counts() function in the 'STATE' column to know how many records are in each category and focus on one State that satisfies the minimum requirement of the project. Then, I will create a subset with this category. 

This code showed me that I can use the CA State alone or enjoy more than one. I prefer to work with the CA because it is a cosmopolitan place that might have people from different parts of the world, and I imagine that the results could be interesting.

In [8]:
category_counts = df['STATE'].value_counts()
print(category_counts)

CA    2577
TX    1807
NY    1783
FL    1654
IN    1142
IL    1135
OH    1072
PA    1012
MI     921
MA     842
NJ     836
NC     752
VA     727
MD     693
AZ     659
WI     649
WA     630
GA     628
CO     617
MN     604
MO     556
TN     526
CT     524
KY     443
OR     363
IA     336
OK     333
LA     317
AL     295
KS     295
SC     286
AR     266
NE     263
MT     262
ME     235
NM     229
UT     229
WV     220
NH     203
NV     197
PR     195
AK     167
ID     157
MS     150
HI     134
SD     116
RI     112
VT     105
ND     101
DE      66
DC      55
WY      53
GU       7
VI       4
MP       3
AS       3
MH       1
FM       1
Ca       1
XB       1
Name: STATE, dtype: int64

Below, I will create the subset with the CA category and work with it from now on. This subset will be named as 'df1'.

In [9]:
by_category = df.groupby('STATE')
df1 = by_category.get_group('CA')
df1.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
1390,91661,1/1/221,CA,73,73.0,NaN,F,NaN,Approximately 3 min post vaccition administrat...,NaN,...,U,U,NaN,NaN,2,1/1/221,NaN,Y,NaN,NaN
1391,916613,1/1/221,CA,4,4.0,NaN,F,NaN,On 12/3/22 I got a pain in the stomach as if s...,NaN,...,NaN,NaN,NaN,NaN,2,1/1/221,NaN,NaN,NaN,Y
1392,916617,1/1/221,CA,35,35.0,NaN,F,NaN,"Dizziness, chills, fever, muscle aches, pain a...",NaN,...,NaN,Y,NaN,NaN,2,1/1/221,NaN,NaN,NaN,Y
1393,916621,1/1/221,CA,25,25.0,NaN,F,NaN,Fatigue - 2 hours priorU Muscle aches/pain - 3...,NaN,...,NaN,U,NaN,NaN,2,1/1/221,NaN,NaN,NaN,Y
1394,91669,1/1/221,CA,37,37.0,NaN,M,NaN,Typical sore arm similar to flu shotU Followin...,NaN,...,NaN,NaN,NaN,NaN,2,1/1/221,NaN,NaN,NaN,Y

In [10]:
df1.shape

(2577, 35)

I will drop unnecessary columns in my dataset because it could generate errors and waste time. After dropping, I will nominate the dataset as 'df2'.

In [11]:
df1.columns

Index(['VAERS_ID', 'RECVDATE', 'STATE', 'AGE_YRS', 'CAGE_YR', 'CAGE_MO', 'SEX',
       'RPT_DATE', 'SYMPTOM_TEXT', 'DIED', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'NUMDAYS', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT',
       'ALLERGIES'],
      dtype='object')

In [12]:
df2 = df1.drop(columns=['VAERS_ID', 'RECVDATE', 'STATE', 'CAGE_YR', 'CAGE_MO', 'RPT_DATE', 'SYMPTOM_TEXT', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT'])
df2.head()

     AGE_YRS SEX DIED DISABLE  NUMDAYS CUR_ILL HISTORY ALLERGIES
1390      73   F  NaN     NaN      NaN       U       U       NaN
1391       4   F  NaN     NaN      NaN     NaN     NaN         Y
1392      35   F  NaN     NaN      NaN     NaN       Y         Y
1393      25   F  NaN     NaN      NaN     NaN       U         Y
1394      37   M  NaN     NaN      1.0     NaN     NaN         Y

In [13]:
df2.shape

(2577, 8)

In [14]:
df2.dtypes

AGE_YRS       object
SEX           object
DIED          object
DISABLE       object
NUMDAYS      float64
CUR_ILL       object
HISTORY       object
ALLERGIES     object
dtype: object

In [15]:
df2.describe()

           NUMDAYS
count  1318.000000
mean      8.770865
std      83.141858
min       1.000000
25%       1.000000
50%       2.000000
75%       7.000000
max    2399.000000

I am using the code df1.isnull().sum() to calculate the numbers of missing (null and NaN) values in all columns of the dataset.

In [16]:
df2.isnull().sum()

AGE_YRS       186
SEX             0
DIED         2422
DISABLE      2471
NUMDAYS      1259
CUR_ILL      2096
HISTORY      1148
ALLERGIES    1768
dtype: int64

In [37]:
df2.duplicated().sum()

844

Below, I am using the method .fillna() to replace the NaN with zero values.

In [17]:
df2.fillna(0, inplace=True)

In [18]:
df2.head()

     AGE_YRS SEX DIED DISABLE  NUMDAYS CUR_ILL HISTORY ALLERGIES
1390      73   F    0       0      0.0       U       U         0
1391       4   F    0       0      0.0       0       0         Y
1392      35   F    0       0      0.0       0       Y         Y
1393      25   F    0       0      0.0       0       U         Y
1394      37   M    0       0      1.0       0       0         Y

#### Data Dictionary - dataset (df2):

1. AGE_YRS: The recorded vaccine recipient's age in years.

2. SEX: Sex of the vaccine recipient (M = Male, F = Female, Unknown = Blank).

3. DIED: If the vaccine recipient died a "Y" is used; otherwise the field will be blank.

4. DISABLE: If the vaccine recipient was disabled as a result of the vaccination a "Y" is placed in this field; otherwise the field will be blank.

5. NUMDAYS: The calculated interval (in days) from the vaccination date to the onset date.

6. CUR_ILL: This text field contains narrative about any illnesses at the time of the vaccination as noted on the specified field of the form.

7. HISTORY: This text field contains narrative about any pre-existing physician-diagnosed birth defects or medical condition that existed at the time of vaccination as noted on the specified field of the form.

8. ALLERGIES: This text field contains narrative about any pre-existing physician-diagnosed allergies that existed at the time of vaccination as noted in the specified field of the form.

I replaced all senteces in the columns ('CUR_ILL', 'HISTORY', and 'ALLERGIES') using MS Excel, because I wanted only numerical values to be recognised for machine learning models. In addition, if I had used the original data with long sentences I would have huge number of columns after the one-hot encode process.

In replacement process I changed words like 'none' and 'No' to blank space meaning the absence of the occurence. I also used the 'U' when it was not informed or had the word 'unknow'. And for the case in which the pacient related the ocurrence I replaced with the letter 'Y'.

## Pre-processing

### One-Hot Encode

This tool replaces categorical variables, like 'DIED' ('Y'= dead and 0 = alive), with one or more features with 0 and 1 values (Müller and Guido, 2017 p.214). I am using this tool because Machine Learning models are based on numerical operations and do not recognize stings. Because of this, it is necessary to convert strings into numbers without introducing ordinal relationships, as in the Label Encoding tool, which can give more weight to specific categories than others. 

First, I will use the value_counts function to check the contents of the columns where I want to proceed with the one-hot encoding. This is important because when humans input data, it is always possible to have some errors. There are no typos in the case of these columns, and then I can start the one-hot encoding process. Otherwise, I would have to convert all the typos into a unique word (Müller and Guido, 2017 p.214, 215).

In [19]:
df2["SEX"].value_counts()

F    1837
M     677
U      63
Name: SEX, dtype: int64

In [20]:
df2["DIED"].value_counts()

0    2422
Y     155
Name: DIED, dtype: int64

In [21]:
df2["DISABLE"].value_counts()

0    2471
Y     106
Name: DISABLE, dtype: int64

In [28]:
df2['CUR_ILL'].value_counts()

0    2096
Y     349
U     132
Name: CUR_ILL, dtype: int64

In [29]:
df2['HISTORY'].value_counts()

Y    1321
0    1148
U     108
Name: HISTORY, dtype: int64

In [31]:
df2['ALLERGIES'].value_counts()

0    1768
Y     717
U      92
Name: ALLERGIES, dtype: int64

In [32]:
df_encoded = pd.get_dummies(df2, columns=['SEX', 'DIED', 'DISABLE', 'CUR_ILL', 'HISTORY', 'ALLERGIES'])
df_encoded.head()

,AGE_YRS,NUMDAYS,SEX_F,SEX_M,SEX_U,DIED_0,DIED_Y,DISABLE_0,DISABLE_Y,CUR_ILL_0,CUR_ILL_U,CUR_ILL_Y,HISTORY_0,HISTORY_U,HISTORY_Y,ALLERGIES_0,ALLERGIES_U,ALLERGIES_Y
1390,73,0.0,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0
1391,4,0.0,1,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1
1392,35,0.0,1,0,0,1,0,1,0,1,0,0,0,0,1,0,0,1
1393,25,0.0,1,0,0,1,0,1,0,1,0,0,0,1,0,0,0,1
1394,37,1.0,0,1,0,1,0,1,0,1,0,0,1,0,0,0,0,1

In [33]:
df_encoded.shape

(2577, 18)

#### Sparsity

In [34]:
missing_values = df_encoded.isnull().sum().sum()
zero_values = (df_encoded == 0).sum().sum()

total_data_points = df_encoded.size

sparsity = (missing_values + zero_values) / total_data_points

print(f"Sparsity of the dataset: {sparsity:.2f}")

Sparsity of the dataset: 0.59

### Reference

Müller, A. C. and Guido, S. (2017). Introduction to machine learning with Python: a guide for data scientists. 1st ed. United States of America. O’reilly Media.